#content {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

#bar {
  height: 100px;
  width:100%;
  background-color: #39C5BB;   
}

#greeting-container {
  margin-top: 20px;
}

#basics{
    display: flex;
}

#basics-sub{
    margin-left:100px;
}